<div class="container">
<div class="col-sm-8 col-sm-offset-2">
<div class="page-header"><h1>Car Design Managment</h1></div>
<h4>Car Name: {{carDetails.Name}}</h4>
<h4>Car Type : {{carDetails.Type}}</h4>
<h4>Car Gear : {{carDetails.Gear}}</h4>

<div style="width:25%">



<button type="button" class="btn btn-info  btn-block" ng-click="design= !design">Design</button> 
<div >
Car Seat : {{carAttri.Seat}}
Car Door : {{carAttri.Door}}
</div>
<div  ng-hide="submittedDesign">
       </br>
    <form name="designForm" ng-show="design">
      <div class="form-group">
        <label>Seat</label>
        <input type="text" ng-model="car.Seat" required>
      </div>
      <div class="form-group">
        <label>Door</label>
        <input type="text" ng-model="car.Door" required>
      </div>

      <button type="submit" class="btn btn-primary" ng-model="submit1" ng-click=" designSubmit(car);submittedDesign=true" ng-disabled="submit1"   >Submit</button>
    </form>
</div>
</br>


<button type="button" class="btn btn-info  btn-block"  ng-click="manufacture= !manufacture" ng-show="manu">Manufacture</button>
<div ng-show="submittedManuf">
Manufacture Time: {{carAttri.duration}} </br>
</div>
<div  ng-hide="submittedManuf">
  </br>
    <form name="manufactureForm"  ng-show="manufacture">
       
        <div class="form-group">
            <label>Time</label>
            <input type="text" ng-model="car.Duration" required>
        </div>

        <button type="submit" class="btn btn-primary" ng-model="submit2" ng-click="manufSubmit(car);submittedManuf=true" ng-disabled="submit2" >Submit</button>
    </form>
</div>
</br>


<button type="button" class="btn btn-info  btn-block" ng-click="production= !production"ng-show="prod" >Production</button>
<div ng-show="submittedProd">
Cra cost : {{carAttri.cost}} </br>
</div>
<div  ng-hide="submittedProd">
    <!-- pass in the variable if our form is valid or invalid -->
       </br>
    <form name="productionForm" ng-show="production">
       
        <div class="form-group">
            <label>Cost</label>
            <input type="text" ng-model="car.Cost">
        </div>
        <button type="submit" class="btn btn-primary" ng-model="submit3" ng-click="prodSubmit(car);submittedProd=true" ng-disabled="submit3" >Submit</button>
    </form>
</div>
</div>
</br>
</div>
</div>