<div class="container">
<div class="col-sm-8 col-sm-offset-2">
<div class="page-header"><h1>Car Design Managment</h1></div>
<button type="button" class="btn btn-info">Stage 1</button></br></br>
<button type="button" class="btn btn-info" disabled="disabled">Stage 2</button></br></br>
<button type="button" class="btn btn-info" disabled="disabled">Stage 3</button>
<table class="table table-striped">
    <tr>
      <td>
        Car Name 
      </td>
      <td>
        Car Type
      </td>
      <td>
        Gears
      </td> 
      <td>
      </td>   <td>
      </td> 
  </tr>
    <tr>
      <td >{{carDetails}}</td>
      <td >{{carDetails.Type}}</td>
      <td >{{carDetails.Gear}}</td>
    </tr>
  </table>
  </div>
</div>